.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #2E3944;
  overflow: hidden;
  padding: 20px 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  padding: 10px;
}

.nav-links li a {
  color: #D3D9D4;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #12E466;
}

.upload-button, .download-button {
  background-color: #1f84e4;
  color: #213944;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.upload-button:hover, .download-button:hover {
  background-color: #12E466;
  color: #212A31;
}
